.bg-app{
    background: #8E2DE2 !important;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2) !important;
    background: linear-gradient(to right, #4A00E0, #8E2DE2) !important;
    color: white;
}
.minh-100 {
    height: 100vh;
    margin: 0;
    padding: 0;
}
.help-block {
    color: red;
}

.field-success {
    color: green;
}