body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box_login{
    margin-top: 100px;
    padding-top: 20px;
    background-color: rgba(99, 228, 48, 0.424);
    width: 600px;
    height: 370px;
    border-radius: 5%;
}
#box_login1{
    /* background-color: rgb(27, 209, 97); */
}
#box_login2{
    /* background-color: rgb(197, 17, 17); */
}
#box_login3{
    padding-left: 15px;
    /* background-color: rgb(191, 17, 197); */
    margin-top: 50px;
}
              
#box_logo{
    font-size: 120px;
    padding-left: 80px;
}