body {
    background-color: #007bfff5;
    background-color: linear-gradient(to right, rgba(0, 100, 230, 0.973), #33AEFF);
  }

.container-fluid{
    position: absolute;
    left: 25%;
    top: 10%;
}
